.container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom:20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
  
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #b9b8b8;
    border-radius: 10px;
    font-size: 16px;
}

button {
    display: block;
    width: 520px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}


.account {
    width: 200px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border: 1px solid #373737;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.account h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.account p {
    margin: 5px 0;
}

.buttons button {
    text-align: center;
    margin-bottom: 20px;
}
